/*
    Global styles
*/

$appMinHeight: 100vh;
$appMinWidth: 100vw;
:before, :after, * {
    box-sizing: border-box;
  }

body{
    background: #FAFAFA
}

html,
body {
    padding: 0;
    margin: 0;
    height: auto;
    min-height: $appMinHeight;
    min-width: $appMinWidth;
    overflow-x: hidden;
    #__next {
        nav{
            align-items: center;
            padding: 0 10px;
            ul{
                list-style: none;
                display: flex;
                li{
                    padding-left: 1vw;
                }
            }
        }
        header{
            text-align: center;
            background: yellow;
            div{
                position: relative;
                h1{
                    padding: 1em 0;
                    font-size: 3rem;
                }
            }
        }
        main{
            max-width: 600px;
            margin: auto;
            width: 100%;
            min-height: $appMinHeight;
            height: auto;
        }
        min-height: $appMinHeight;
        min-width: $appMinWidth;
        footer {
            background: rgb(28, 165, 28);
            height: 100px;
            position: relative;
            bottom: 0;
        }
    }
}

a{
    text-decoration: none;
    color: inherit
}

a:hover{
    color:blueviolet
}

h1,h2,h3,h4,h5,h6,p{
    font-family: Kanit;
    margin: 0;
}